{% extends 'service/base.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card mt-5 shadow border-0">
            <div class="card-header bg-warning">Reset Hasła</div>
            <div class="card-body">
                {% if sent %}
                    <div class="alert alert-success">
                        Link resetujący został wysłany (sprawdź konsolę serwera).
                    </div>
                    <a href="{% url 'login' %}" class="btn btn-primary">Wróć do logowania</a>
                {% else %}
                    <p>Podaj swój e-mail, wyślemy Ci kod.</p>
                    <form method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label>E-mail:</label>
                            {{ form.email }}
                            <div class="text-danger small fw-bold mt-1">
                                {{ form.email.errors.0 }}
                            </div>
                        </div>
                        <button type="submit" class="btn btn-warning">Wyślij kod</button>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}