{% extends 'service/base.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card mt-5 shadow border-0">
            <div class="card-header bg-danger text-white">Ustaw nowe hasło</div>
            <div class="card-body">
                <p>Użytkownik: <strong>{{ email }}</strong></p>

                <form method="post" novalidate>
                    {% csrf_token %}

                    {% for field in form %}
                    <div class="mb-3">
                        <label class="form-label fw-bold">{{ field.label }}:</label>
                        {{ field }}
                        <div class="text-danger small fw-bold mt-1">
                            {{ field.errors.0 }}
                        </div>
                    </div>
                    {% endfor %}

                    <button type="submit" class="btn btn-danger w-100">Zapisz nowe hasło</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}